html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: auto 1fr;
	color: #2e4458;
	margin: 0;
	padding: 0;
	font: normal normal 600 13px/17px Montserrat, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.contentwrapper {
	margin: 0 40px;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

h2 {
	margin-bottom: 25px;
}

h3 {
	margin-bottom: 5px;
}

h2, h3 {
	color: #ea6237;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}


button {
	display: block;
	width: 293px;
	height: 60px;
	color: #fff;
	font-size: 25px;
	background-color: #2E4458;
	border: 2px solid #2E4458;
}

button:disabled {
	width: 293px;
	height: 60px;
	background-color: #868686;
	border: 2px solid #868686;}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

summary {
	margin-bottom: 5px;
}

.card dd {
	margin: 0;
}

.processlist dd {
	margin: 10px 15px;
}

.statusmessage {
	width: 293px;
	margin:5px;
	text-align: center;
	font-size: 19px;
	color: #868686;
}

.hidden {
	display: none;
}
